
section {
	width: 70%;
	margin: auto;
}

#nom_exo {
	font-size: 1.7em;
	border:2px solid black;
	box-shadow: 4px 4px 2px 0.5px rgba(0, 0, 0, .3);
}

section h3 {
	font-size: 1.4em;
	text-decoration:underline;
}

section p {
	font-size: 1.2em;
}